version: '3.1'
services:
  wordpress:
    volumes:
      - ./themes/glass-eye-creative/:/var/www/html/wp-content/themes/glass-eye-creative/
      - ./plugins/example-plugin/:/var/www/html/wp-content/plugins/example-plugin/